* {
  font-size: 22px;
}
body {
  text-align: center;
}
.App {
  width: 600px;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  border: 1px solid blueviolet;
}

input {
  max-width: 200px;
  align-self: center;
}

.emoji-container {
  margin: auto;
  /* background-color: black; */
  width: 100px;
}
.emojies {
  display: inline-block;
  margin: 10px 0px;
  font-size: 22px;
  /* padding: 15px; */
  text-align: center;
  cursor: pointer;
  width: 50px;
}
